.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  color: white;
  max-width: 1184px;
  min-height: 740px;
}

.cover__background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: opacity 1s ease-in-out;
}

.cover__background:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: calc(100vw * 0.625);
    max-width: 100vw;
  }
}
